<!DOCTYPE>
<html lang="zh-CN">
    <head> 
        <meta charset="utf-8" />
        <title> ggphp </title>
        <link rel="stylesheet" href="https://script.iyuerong.com:444/bootstrap/css/bootstrap.css"></link>
        <link rel="stylesheet" href="https://script.iyuerong.com:444/bootstrap/css/bootstrap.css"></link>
        <script src="https://script.iyuerong.com:444/jquery/jquery-3.1.1.min.js"></script>
        <script src="https://script.iyuerong.com:444/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://script.iyuerong.com:444/vue/vue.js"></script>
        <script src="https://script.iyuerong.com:444/vue/vue-router.js"></script>
        <script src="https://script.iyuerong.com:444/layer/layer.js"></script>
        <link rel="stylesheet" href="/Public/Css/style.css"></link>
    </head>
    <body>
