<div class="container">
    <div class="row" style="margin-top:200px;">
        <div class="col-lg-6 col-lg-offset-3 bg-success" style="padding:30px;">
            <form method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="uname" class="col-lg-2 col-lg-offset-3 control-label"> 用户名: </label>
                    <div class="col-lg-4">
                        <input class="form-control" id="uname" name="name" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwd" class="col-lg-2 col-lg-offset-3 control-label"> 密码: </label>
                    <div class="col-lg-4">
                        <input class="form-control" id="passwd" name="pwd" type="password" />
                    </div>
                </div>
                <a class="btn btn-default col-lg-offset-5" href="/Home/Login/register"  >注册</a>
                <input type="submit" value="登录" class="btn btn-default"  />
            </form>
        </div>
    </div>
</div>
